<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Lista de Preguntas</span>
    <td><a href="/nuevo" class="btn btn-primary">Nuevo</a></td>
</nav>

<div class="container"><br>
    <div class="row">
        <div class="col-xl-12">
            <table class="table">
                <!--cabecera-->
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Actividad</th>
                       <th>Fecha de finalización</th>
                       <th>Operación</th>
                       <th></th>
                    </tr>
               </thead>
               <tbody>            
                <% for(var i=0;i<datos.length; i++) {%>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= datos[i].tarea%></td>
                        <td><%= datos[i].fecha%></td>
                        <td><a href="/delete/<%= datos[i]._id %>" class="btn btn-danger">Borrar</a></td>
                        <td><a href="/edit/<%= datos[i]._id %>" class="btn btn-success">Editar</a></td>
                    </tr>
                <% } %>
               </tbody>
            </table>
        </div>
    </div>
</div>