<div class="container"><br>
    <div class="row">
        <div class="col-xl-12">
            <table class="table table-striped">
                <!--cabecera-->
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Pregunta</th>
                       <th style="width: 220px;">Opciones</th>
                       <th># Resp.</th>
                       <th>Comentarios</th>
                       <th>Cita Biblica</th>
                       <th>Opciones</th>
                    </tr>
               </thead>
               <tbody>            
                <% for(var i=0;i<datos.length; i++) {%>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= datos[i].question%></td>
                        <td><%= '1.'+datos[i].answer1%><br><%='2.'+ datos[i].answer2%><br><%='3.'+ datos[i].answer3%><br><%='4.'+ datos[i].answer4  %></td>
                        <td><%= datos[i].is%></td>
                        <td><%= datos[i].resp%></td>
                        <td><%= datos[i].ref%></td>
                       <td> <a href="/edit/<%= datos[i]._id %>" class="btn btn-warning" style="    margin-bottom: .4rem;width: 35px;"><i class="fa fa-pencil-square-o"></i></a><br><!-- </td>
                       <td> -->
                        <a href="/delete/<%= datos[i]._id %>" class="btn btn-danger" style="    margin-bottom: .4rem;width: 35px;"><i class="fa fa-trash"></i></a></td>
                    </tr>
                <% } %>
               </tbody>
            </table>
        </div>
    </div>
</div>