<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Lista de Preguntas Biblicas</span>
    <td><a href="/admin/nuevo" class="btn btn-primary">Nuevo</a></td>
</nav>

<div class="container"><br>
    <div class="row">
        <div class="col-xl-12">
            <table class="table">
                <!--cabecera-->
               <thead>
                   <tr>
                       <th>#</th>
                       <th>Pregunta</th>
                       <th>Opciones</th>
                       <th>Respuesta</th>
                       <th>Comentarios</th>
                       <th>Cita Biblica</th>
                       <th></th>
                       <th>Opciones</th>
                    </tr>
               </thead>
               <tbody>            
                <% for(var i=0;i<datos.length; i++) {%>
                   
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= datos[i].question%></td>
                        <td><%= '1.'+datos[i].answer1%><br><%='2.'+ datos[i].answer2%><br><%='3.'+ datos[i].answer3%><br><%='4.'+ datos[i].answer4  %></td>
                        <td><%= datos[i].is%></td>
                        <td><%= datos[i].resp%></td>
                        <td><%= datos[i].ref%></td>
                        <td><a href="/admin/delete/<%= datos[i]._id %>" class="btn btn-danger">Borrar</a></td>
                        <td><a href="/admin/edit/<%= datos[i]._id %>" class="btn btn-success">Editar</a></td>
                    </tr>
                <% } %>
               </tbody>
            </table>
        </div>
    </div>
</div>